.KHToan {
    background-color: #FFFFFF;
    display: flex;
    padding: 60px;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

.left_column_1, .right_column_1 {
    flex: 1;
    padding: 0 40px;
}

.subheader_Toan {
    font-size: 0.9em;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 600;
}

.main_title_Toan {
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 20px;
    font-weight: 800;
}

.left_column_1 {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 60px;
}

.under_left_c1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-left: -40px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
}

.under_left_c1 h2 {
    font-size: 2.2rem;
    font-weight: 750;
    margin-top: 40px;
    margin-bottom: 15px;
    color: black;
    margin-left: -40px;
}

.under_left_c1 p {
    font-size: 1.1rem;
    color: black;
    margin-left: -40px;
}

.right_column_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 60px;
}

.under_right_c1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 180px;
    margin-bottom: 20px;
    margin-left: 40px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
}

.under_right_c1 h2 {
    font-size: 2.2rem;
    font-weight: 750;
    margin-top: 40px;
    margin-bottom: 15px;
    color: black;
    margin-left: 40px;
}

.under_right_c1 p {
    font-size: 1.1rem;
    color: black;
    margin-left: 40px;
}

.button_Toan {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.learn_more_Toan {
    color: black;
    padding: 10px 25px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: -25px;
    margin-bottom: 25px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.learn_more_Toan:hover {
    background-color: black;
    border-color: black;
    color: white;
}

