.KHVan {
    margin: 0px auto;
    padding: 100px 80px 50px;
    background-color: #FFF8F0;
}

.header_section_Van {
    text-align: center;
    padding: 0px 20px 60px;
}

.subheader_Van {
    font-size: 0.9rem;
    color: #a0a0a0;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 600;
}

.main_title_Van {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.description_Van {
    font-size: 1.1rem;
    color: #a0a0a0;
    max-width: 700px;
    margin: 0px auto 40px;
}

.button_Van {
    display: flex;
    justify-content: center;
}

.button_learn_more_Van {
    color: black;
    padding: 10px 25px;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.button_learn_more_Van:hover {
    background-color: #333333;
    border-color: #333333;
    color: white;
}

.part_Van_1 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.left_Van_1 {
    flex: 0.4;
    max-width: 50%;
}

.feature_tag_Van_1 {
    padding: 4px 10px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 105, 148, 0.6);
}

.feature_tag_Van_1 {
    background-color: #7AC9D1;
}

.feature_title_Van_1 {
    font-size: 2.2rem;
    font-weight: 750;
    margin-bottom: 20px;
}

.feature_description_Van_1 {
    color: #b0b0b0;
}

.feature_image_Van_1 {
    flex: 1;
    overflow: hidden;
    max-height: 400px;
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}


/*-------------------*/
.part_Van_2 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.feature_image_Van_2 {
    flex: 1;
    overflow: hidden;
    max-height: 400px;
    max-width: 800px;
    border-radius: 6px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}

.right_Van_2 {
    flex: 0.4;
    max-width: 50%;
}

.feature_tag_Van_2 {
    padding: 4px 10px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 5px rgba(0, 105, 148, 0.6);
}

.feature_tag_Van_2 {
    background-color: #7AC9D1;
}

.feature_title_Van_2 {
    font-size: 2.2rem;
    font-weight: 750;
    margin-bottom: 20px;
}

.feature_description_Van_2 {
    color: #b0b0b0;
}

/*-----------------------*/

