.KHAnh {
    background-color: #3F4A3C;
    margin: 0px auto;
}

.part_Anh_1 {
    text-align: center; 
    padding: 10px 20px 0px; 
    margin-bottom: -20px;
}

.subheader_Anh {
    font-size: 0.9rem;
    color: #888888;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 600;
}

.main_title_Anh {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}


.description_text_Anh_1 {
    font-size: 1.1rem;
    color: #a0a0a0;
    max-width: 700px;
    margin: 0 auto 40px;
}

.part_Anh_2 img {
    overflow: hidden;
    max-height: 650px;
    max-width: 1200px;
    border-radius: 6px;
    display: block;
    margin: 0px auto 50px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.2);

    transition: transform 0.2s ease;
    transform-origin: center;
}

/* --------------------- */
.Line-container {
    width: 2px;
    margin: 0px auto -70px;
    height: 140px;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.sliding-bar {
    display: block;
    position: absolute;
    animation-name: sliding-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.42, 0.2, 0.99);
    animation-play-state: running;

    width: 2px;
    height: 0px;
    background: #FFFFFF;
}

@keyframes sliding-animation {
    0% {
        top: 0px;
        height: 0px;
    }
    40% {
        top: 0px;
        height: 140px;
    }
    85% {
        top: 140px;
        height: 0px;
    }
    100% {
        top: 140px;
        height: 0px;
    }
}

.sub_title_Anh {
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: 750;
    margin-left: 70px;
}

.description_text_Anh_2 {
    font-size: 1.1rem;
    color: #a0a0a0;
    margin: 0px 70px 40px;
}

.button_Anh {
    display: flex;
    justify-content: center;

}

.button_learn_more_Anh {
    color: black;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    
    margin-bottom: 50px;
}

.button_learn_more_Anh:hover {
    background-color: black;
    border-color: black;
    color: white;
}